*{
  margin: 0;
}

body{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fcf876;
  font-family: 'Open Sans'

}

div{
  color: #3797a4;
  height: auto;
}
h1{
  font-family: cursive;
  font-size: 50px;
  padding-top: 50px;
  position: absolute;
  z-index: 1;
}


.about{
  width: 300px;
  background-color: #e4e4e4;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 20px;

}
.toronto{
  position: relative;
  right: 150px;
  opacity: .7
}
.info{
  background-color: #EAF6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.skills{
  display: flex;
  flex-direction: column;
}
.skills-title{
  /* position: relative;
  bottom: 20px; */
  /* display: inline-block; */
  text-align: left;
  align-self: center;
  height: auto;
}

.skill-row{
  margin: 20px;
  display: flex;
  flex-direction: row;
  height: auto;
}

.logo{
  border-radius: 100%;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 20px;
}
#cloud{
  position: absolute;
  top: 0px;
  right: 20px;
}
#programmer{
  position: relative;
  top: 120px;
  z-index: 1;

}
#profile{
  height: 200px;
  width: 200px;
  border-color: #8ccbbe;
  border-style: solid;
  border-width: 5px;
}
